#home-body {
    background-color: #ECE3DB;
}

.carousel>.carousel-inner>.carousel-item>img {
    width: 240px;

    height: 500px;

}

#subtitle {
    color: black;
}

#card {

    width: 25vw;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.507);
   margin-bottom: 20px;
}

#card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#card h4 {
    text-align: center;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
}

.subti {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

.iframe {
    width: 100vw;
}
.a{
    padding-left: 10px;
}

.card-link{
    display: block;
    padding: 10px 25px;
    margin: 5% 30%;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: #809638;
}

.button-card{
    margin: 5% 20%;
}
