#home-body {
    background-color: #ECE3DB;
}

.carousel>.carousel-inner>.carousel-item>img {
    width: 240px;

    height: 500px;

}

#subtitle {
    color: black;
}

#card {
    
    width: 25vw;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.507);

}

#card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#card h3 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.subti {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

.iframe {
    width: 100vw;
}

