.navbar {
    background-color: #809638;
}

.navbar li a {
    color: #eee9e6;
    font-size: 1.2em;
}

.nav-item {

    padding-right: 3em;
}

.dropdown-menu {
    background-color: #809638;
}

.dropdown-item:hover {
    background-color: #809638;
}

#link {
    color: #eee9e6;
}

#link:hover {
    background-color: orange;
    border-radius: 10px;
}

#logo {    
    height: 6vw;
    padding-left: 3em;
}

#foto-perfil{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;   
}

.usuario{
    padding: 0;
    margin-top: -0.2rem;
}
