<footer>

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><img id="logo-footer"
                                  src="https://res.cloudinary.com/ddbif6hp5/image/upload/v1700094591/Inmobiliria/zgq73pinlq6sjdhmg61g.png"
                                  alt="Mr House Logo"></a></li>
        <li class="nav-item"><a href="https://api.whatsapp.com/send?phone=" class="nav-link px-2 text-body-secondary">
            <img src="/img/whatsapp.png" alt="" width="50px">
        </a></li>
        <li class="nav-item"><a href="https://www.instagram.com/" class="nav-link px-2 text-body-secondary">
            <img src="/img/instagram.png" alt="" width="50px">
        </a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">
            <img src="/img/correo-electronico.png" alt="" width="50px">
        </a></li>
        <li class="nav-item">
            <img id="logo-footer"
                 src="https://res.cloudinary.com/ddbif6hp5/image/upload/v1700094591/Inmobiliria/zgq73pinlq6sjdhmg61g.png"
                 alt="Mr House logo">

            </a></li>
    </ul>
    <p class="text-center text-body-secondary"> Mr House Propiedades </p>
    <p class="text-center text-body-secondary"> Matricula 0000 </p>
</footer>