<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Mr House</title>
    
</head>
<body class="dashboard">
    <header class="admin-header">
        <h1>Administración</h1>
    </header>
    <div class="solicitudes">
        <h2>Solicitudes</h2>
        <a href="/solicitudes">Revisar</a>
    </div>
    <div class="clientes">
        <h2>Clientes</h2>
        <a class="link-dash" href="/clientes">Ver Clientes</a>
    </div>
    <div class="entes">
        <h2>Entes</h2>
        <a class="link-dash" href="/entes">Ver Entes</a>
    </div>
    <div class="publicaciones">
        <h2>Publicaciones</h2>
        <a class="link-dash" href="/publicaciones">Administrar Publicaciones</a>
    </div>
    <footer></footer>
</body>
</html>