<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>

<body id="index-body">


<main id="index-main">
    <div id="div-relativo">
        <div class="div-ingreso-absoluto">
            <img src="https://res.cloudinary.com/ddbif6hp5/image/upload/v1700094591/Inmobiliria/zgq73pinlq6sjdhmg61g.png"
                 alt="Mr House logo" width="50px">
            <h2 id="titulo-ingrsar"><b>Ingresar</b></h2>
            <img src="https://res.cloudinary.com/ddbif6hp5/image/upload/v1700094591/Inmobiliria/zgq73pinlq6sjdhmg61g.png"
                 alt="Mr House logo" width="50px"><br>
            <hr>
            <a class="boton_ingreso" href="/login"><h5>Login</h5></a><br>
            <a class="boton_ingreso" href="/register"><h5>Registro</h5></a><br>
            <a class="boton_ingreso" href="/home"><h5>Ingresar como invitado</h5></a>
        </div>
    </div>



</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>